<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30101" type="lsep"/>
        <setting label="30102" type="text" id="username"/>
        <setting label="30103" type="text" option="hidden" id="password"/>
        <setting label="30107" type="bool" id="remove_oldest_device" default="true"/>
        <setting label="30108" type="bool" id="remove_oldest_kodi" default="false" enable="eq(-1,true)"/>
        <setting label="30104" type="bool" id="genall" default="false"/>
        <setting label="30109" type="bool" id="gentoaddon" default="true" enable="eq(-1,true)"/>
        <setting label="30110" type="folder" id="gentofolder" default="" enable="eq(-1,false) + eq(-2,true)"/>
        <setting label="30106" type="bool" id="restartpisc" default="false" enable="eq(-3,true)"/>
        <setting label="30105" type="action" action="RunScript(special://home/addons/plugin.video.rebit.tv/pisc.py)" enable="eq(-4,true)"/>
    </category>
</settings>
